<div id="<%= dom_id question %>">
  <p>
    <strong>Body:</strong>
    <%= question.body %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= question.active ? 'Active' : 'Inactive' %>
  </p>

  <p>
    <strong>Question category:</strong>
    <%= question.question_category.name %>
  </p>

</div>
