<div id="<%= dom_id survey_question %>">
  <p>
    <strong>Question:</strong>
    <%= survey_question.question_id %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= survey_question.survey_id %>
  </p>

</div>
