<div id="<%= dom_id question_category %>">
  <p>
    <strong>Name:</strong>
    <%= question_category.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= question_category.active ? 'Active' : 'Inactive' %>
  </p>

</div>
