
<tr>
  <td><%= question_category.name %></td>
  <td><%= question_category.active ? 'Active' : 'Inactive' %></td>
  <td><%= link_to question_category_path(question_category), method: :delete do %>
    <span class="glyphicon glyphicon-remove"></span> Remove 
    <%end%>
  </td>
</tr>

