<p style="color: green"><%= notice %></p>

<div class="container">
  <h2>Question categories</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @question_categories.each do |question_category| %>
        <%= render question_category %>
      <%end%>
    </tbody>
  </table>
</div>

<%= link_to "New question category", new_question_category_path %>