<!DOCTYPE html>
<html>
<head>
  <%= wicked_pdf_stylesheet_link_tag "application" -%>
  <%= wicked_pdf_stylesheet_link_tag "bootstrap" %>
<title>PDFs</title>
</head>
<body>
    <%= yield %>
</body>
</html>